data:
  csv_path: data/raw/tangerang_pv_weather_2020_2024_wdni.csv
  csv_separator: ;
  dhi_col: dhi_wm2
  ghi_col: ghi_wm2
  poa_col: poa_global_wm2
  rh_col: relative_humidity_pct
  target_col: pv_output_kw
  temp_col: ambient_temp_c
  time_col: timestamp
  time_format: '%d/%m/%Y %H:%M'
  wind_dir_col: wind_direction_deg
  wind_speed_col: wind_speed_ms
features:
  corr_threshold: 0.15
  groups:
    lags: false
    physics: false
    rolling: false
    time: false
    time_day: true
    time_doy: true
    time_hour: true
    time_month: true
    time_year: true
    weather: true
  manual_features:
  - ambient_temp_c
  - hour_sin
  - hour_cos
  - dhi_wm2
  - dni_wm2
  multicol_threshold: 0.95
  scaler_type: minmax
  selection_mode: manual
  target_scaler_type: minmax
forecasting:
  horizon: 24
mlflow:
  experiment_name: PatchTST_CSI_TransferLearning
  tracking_uri: mlruns
model:
  architecture: rnn
  hyperparameters:
    batch_size: 32
    d_model: 64
    dropout: 0.2
    epochs: 100
    learning_rate: 0.001
    lookback: 72
    loss: huber
    loss_fn: huber
    n_layers: 2
    use_bidirectional: true
    use_revin: false
paths:
  logs_dir: logs
  models_dir: models
  processed_dir: data/processed/v8_vol6
  target_data_dir: data/target
preprocessing:
  clip_precipitation: 100.0
  end_date: '2021-12-31'
  fix_ghi_dhi: true
  ghi_dark_pv_high: true
  ghi_high_pv_zero: true
  impute_missing_pv: false
  productive_hours_threshold: 50
  remove_outliers: true
  resample_1h: true
  start_date: '2021-01-01'
  subset_mode: tanggal
  trim_rows: false
pv_system:
  nameplate_capacity_kw: 4.76
  ref_temp: 25
  system_efficiency: 0.86
  temp_coeff: -0.0045
seed: 42
splitting:
  test_ratio: 0.3
  train_ratio: 0.7
target:
  csi_ghi_threshold: 50
  csi_max: 1.2
  use_csi: true
training:
  epochs: 100
  lr_factor: 0.2
  lr_patience: 7
  min_lr: 1.0e-06
  patience: 15
  use_batch_scheduling: false
tscv:
  enabled: false
  n_splits: 5
tuning:
  enabled: true
  n_trials: 100
  search_space:
    batch_size:
    - 32
    - 32
    d_model:
    - 64
    - 128
    dropout:
    - 0.1
    - 0.4
    learning_rate:
    - 0.0005
    - 0.005
    lookback:
    - 24
    - 96
    - 24
    n_layers:
    - 1
    - 3
    use_bidirectional:
    - true
    - false
  subsample_ratio: 0.2
  use_subsampling: false
