# Core
numpy<2.0.0
pandas
scikit-learn
joblib

# Deep Learning
# (TensorFlow dan PyTorch bawaan Cloud Server disarankan digunakan agar tidak menimpa versi CUDA)
# torch  # Uncomment for local CPU install
transformers
# Experiment Tracking
optuna
optuna-integration
mlflow

# TUI & Visuals
rich
questionary

# Configuration
pyyaml
python-dotenv

# Visualization
matplotlib
seaborn

# Dashboard
streamlit
plotly
