# Core
numpy<2.0.0
pandas
scikit-learn
joblib

# Deep Learning
# (Gunakan versi cu118 / cu121 untuk RunPod)
torch
torchvision
torchaudio
transformers
accelerate
evaluate
datasets
# Experiment Tracking
optuna
optuna-integration
mlflow

# TUI & Visuals
rich
questionary

# Configuration
pyyaml
python-dotenv

# Visualization
matplotlib
seaborn

# Dashboard
streamlit
plotly
